<form action="">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre persona</label>
    <input
      type="text"
      name="nombre"
      id="nombre"
      class="form-control"
      placeholder="Escriba su nombre"
      aria-describedby="helpId"
    />
  </div>
  <div class="mb-3">
    <label for="nombre" class="form-label">Apellido persona</label>
    <input
      type="text"
      name="apellido"
      id="apellido"
      class="form-control"
      placeholder="Escriba su apellido"
      aria-describedby="helpId"
    />
  </div>
  <div class="">
    <button type="button" name="agregar" id="agregar" class="btn btn-primary">
      Agregar
    </button>
  </div>
</form>
